.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 93vh;
    min-width: 85vw;
}

.home-title-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.home-title {
    text-transform: capitalize;
}

.active-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.completed-tasks .task-title {
    text-decoration: line-through;
    text-decoration-color: var(--dark-gray);
}

.completed-tasks input[type="checkbox"] {
    accent-color: darkblue;
    color: white;
}