@import '../../variables';
@import '../../mixins';

.home-wrapper {
    @include vertical-list(space-between);
    min-width: 85vw;
    min-height: 93vh;

    .home-content {
        .title-wrapper {
            display: flex;
            align-items: center;
            font: {
                size: 1.5rem;
            }

            .title {
                text: {
                    transform: capitalize;
                }
            }
        }

        .tasks {
            hr {
                height: 1px;
                border: none;
                background: rgb(216, 216, 216);
            }

            .completed-tasks {
                .task-title {
                    text: {
                        decoration: {
                            line: line-through;
                            color: $tertiary-dark;
                        }
                    }
                }
    
                input[type="checkbox"] {
                    accent-color: darkblue;
                    color: white;
                }

                .more-completed {
                    color: $tertiary-dark;
                    position: relative;

                    .more-completed-icon {
                        margin-right: 10px;
                    }
                }

                .more-completed:before,
                .more-completed:after {
                    content: "";
                    display: block;
                    width: 30%;
                    height: 1px;
                    background: rgb(216, 216, 216);
                    top: 50%;
                    position: absolute;
                }
                
                .more-completed:before {
                    left: 0;
                }

                .more-completed:after {
                    right: 0;
                }
            }
        }
    }

    .home-settings {
        position: fixed;
        width: 85vw;
        bottom: 0;
        background: {
            color: $primary;
        }
    }
}