.create-wrapper {
    margin-top: 3em;
}

.create-form {
    font-size: 2rem;
}

.create-form input {
    font-size: 2rem;
    border: none;
    outline: none;
    caret-color: var(--blue);
}

.added-list-icon {
    color: var(--blue);
}