#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 15%;
    min-height: 95vh;
    padding-top: 3em;
    color: var(--black);
    background: var(--light-gray);
    border-right: 1px solid #E9E9E9;
}

#sidebar-content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    font-weight: bold;
}

#sidebar-content li {
    text-transform: capitalize;
    margin: 7px 0;
}

.icon {
    margin-right: 12px;
}

.sidebar-icon {
    width: 18px;
}

.inbox-icon {
    color: #1cb0f8;
}

.star-icon {
    color: #ffd303;
}

.calendar-icon {
    color: #fe306b;
}

.layers-icon {
    color: #37a49b;
}

.areas {
    text-align: left;
    margin-top: 4em;
}

.area-icon,
.category-icon {
    color: var(--dark-gray);
}

.categories {
    font-weight: normal !important;
    font-size: 0.9rem;
    margin: 10px 0;
    padding: 0;
}

.plus {
    margin-right: 15px;
}

.add-list  {
    display: flex;
    width: 50%;
    align-self: center;
    justify-content: center;
    margin: 10px 0 20px 0;
    transition: 0.2s ease;
    padding: 5px;
    border: 1px solid transparent;
}

.add-list:hover {
    cursor: default;
    border: 1px solid lightgray;
    border-radius: 7px;
}

.manage-lists {
    display: flex;
    flex-direction: column;
}

.new-lists {
    color: white;
    background: #2c323a;
    align-self: center;
    border-radius: 8px;
    padding: 5px 20px;
    width: 60%;
}

.new-lists p {
    margin: 0;
}

.new-area,
.new-category {
    display: flex;
    align-items: center;
    padding: 10px 3px;
}

.new-area:hover,
.new-category:hover {
    border-radius: 4px;
    background: var(--blue);
}

.new-area {
    border-top: 1px solid #4d545f;
}

.add-area-icon {
    color: #5d9df5;
}

.add-category-icon {
    color: #7ad0a7;
}