:root {
    --white: #f9fafb;
    --black: #363a3d;
    --light-gray: #f5f6f8;
    --dark-gray: #9B9B9B;
    --blue: #1cb0f8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  background: var(--white);
  max-width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content-wrapper {
    display: flex;
    min-width: 100%;
}

#page-wrapper {
    max-width: 85vw;
    align-self: center;
    justify-self: center;
}

input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
}

input:focus {
    outline: none;
}

input[type="checkbox"] {
    width: 13px;
    height: 13px;
    border-radius: 2px;
}